.searchBox {
    background: rgba(225, 225, 225, 0.5);
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%,-50%);
}

.searchBoxPages {
  background: rgba(184, 182, 182, 0.5);
  width: 100%;
}

.input-field{
    margin-bottom:0px;
}

.error-msg{
  color:red;
}