.scrapeRow {
    padding-top: 25px;
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .card-title {
        font-size: 20px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 920px) {
    .cardScrape {
        height: 355px;
    }
}

@media only screen and (min-width: 920px) and (max-width: 990px) {
    .cardScrape {
        height: 375px;
    }
}

@media only screen and (min-width: 990px) and (max-width: 1260px) {
    .card-title {
        font-size: 20px !important;
    }
}